// Breakpoint based variables

$desktop-large: 1920px;
$desktop: 1260px;
$tablet: 700px;
$phablet: 550px;
$mobile: 400px;


$wrapper: 960px;
$wrapper-large: 1200px;
$wrapper-small: 640px;

$medium-breakpoint: 599px;
$large-breakpoint: 959px;
